*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.footer-container{
    background-color: #1F2937;
    color:#fff;
}
.section-1, .section-1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.section-2 ul{
    display:flex;
    justify-content: center;
    
}

.section-2 a,.section-2 li{
   text-decoration: none;
   text-transform: capitalize;
   list-style: none;
   padding: 10px;
   color:#fff;
}

.copy-right{
    display: flex;
    justify-content: center;
}

